.Header {
  width: 1920;
  position: "relative";
  flex-direction: "column";
  justify-content: "flex-start";
  align-items: "flex-start";
  display: "inline-flex";
}

.Background-photo {
  width: 1920;
  height: 1132;
}

.HeaderPanel {
  padding: 11 33 11 33;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  overflow: hidden;
  border: 1px black solid;
  backdrop-filter: blur(30px);
  justify-content: center;
  align-items: center;
  gap: 404;
  display: inline-flex;
}

.logo {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 51;
  display: inline-flex;
}
