@font-face {
  font-family: "hleb";
  src: url(/public/fonts/Dudka/hleb.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "hleb", Arial, sans-serif;
  color: #333;
  background-color: #fff;
}
/* хеадер */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  background: #fff;
}

.HeaderPanel {
  padding: 10px 33px;
  gap: 404px;
  display: inline-flex;
}

.HeaderPanel .Logo {
  align-items: center;
  gap: 51px;
  display: inline-flex;

  text-decoration: none;
}
.HeaderPanel .Logo .Logo1 {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}
.Logo__text {
  color: #000;
}
.HeaderPanel .Panel {
  align-items: center;
  gap: 105px;
  display: inline-flex;
}
.HeaderPanel .Panel > a {
  color: black;
  font-size: 36px;

  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;
}
.HeaderPanel .Panel > a:hover {
  color: #676767;
}
.Logo p {
  font-size: 40px;
}

/* main */
.btn-submit {
  width: 200px;
  color: #fff;
  font-weight: 800;
  background: linear-gradient(
    87.08deg,
    #f3ffc2 0%,
    #2dc34e 34.5%,
    #40b7c7 69%,
    #be06ff 100%
  );
  padding: 10px 0;
  border: none;
  border-radius: 70px;
  cursor: pointer;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.btn-submit:hover {
  background: linear-gradient(
    87.08deg,
    #eaff96 0%,
    #26ab42 34.5%,
    #379fac 69%,
    #a706e1 100%
  );
}

/* стили для изменения кооличества пробуктов (все это добовляеться для js)*/

.btn-submit > button {
  border: none;
  background: none;
  font-size: 24px;
  font-weight: 800;
  color: #000;
  cursor: pointer;
  width: 30px;
}
.btn-submit > input {
  border: none;
  background: none;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
.btn-submit > input:active {
  border: #bbbbbb 1px solid;
}

/* контейнер */
.main__title {
  text-align: center;
  margin-top: 30px;
}
.container__serch {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 30px;
}
.serch {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: #000 1px solid;
  border-radius: 10px;
}
.serch__input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 19px 22px;
  border-radius: 10px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
.serch__input:focus {
  outline: none;
}
.serch__input::placeholder {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  font-family: "hleb", Arial, sans-serif;
}
.serch__img {
  padding: 5px 19px;
}
/*Контайнер с продуктами*/
.container__products {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
/* 
Карточка 
*/
.product__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 23px 29px 23px 29px;
  gap: 18px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: min-content;
  transition: transform 0.3s ease;
}
.product__card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
}
.product__card__img {
  width: 212px;
  height: 192px;
  border-radius: 50px;
}
.product__card__title {
  font-size: 24px;
  font-weight: 400;
}
.product__card__price {
  font-size: 16px;
  font-weight: 400;
}
.product__card__button {
  font-size: 20px;
}

/* футер */

.footer {
  background-color: #000;
  display: flex;
  padding: 50px 0;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__links {
  display: flex;
  gap: 105px;
}
.footer__link {
  font-size: 40px;
  font-weight: 400;
  line-height: 48.41px;
  text-decoration: none;
  color: #fff;
}
.footer__link:hover {
  color: #bbbbbb;
}
.copyraiting {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}
